{% extends 'base.html' %}
{% block title %}{% block title-meta %}
فروشگاه کتاب | لیست کتاب ها
{% endblock %} {% endblock  %}
{% block content %}
{% load static %}

<section class="py-5">
    <h3 style="text-align:center;">لیست کتاب ها</h3>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in products %}
        
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        {% if product.cover %}
                        <img class="card-img-top" src="{{ product.cover.url }}" alt={{product.title}}
                             style='width:270px; height:250px ' /> {% endif %}
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{product.title}}</h5>
                                <!-- Product price-->

                                {% if product.c_discount and product.c_discount.active or product.p_discount and product.p_discount.active %}
                                <del>{{product.price}} </del>تومان
                                <p>{{product.final_price}} تومان</p>
                                {% else %}
                                {{product.price}} تومان
                                {% endif %}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                    href="{% url 'product:product_detail' product.slug %}">جزییات</a></div>
                        </div>
                    </div>
                </div>
        
                {% endfor%}
            </div>
        </div>


</section>


{% endblock %}

