{% extends 'registration/base.html' %}


{% block title %}{% block title-meta %}
 لیست دسته بندی ها
{% endblock %} {% endblock  %}


{% block main %}


  <div class="row">
      <div class="col-12">
        {% if object_list %}
        <div class="card">

          <!-- /.card-header -->
          <div class="card-body table-responsive p-0" style="height: 450px;">
            <table class="table table-head-fixed">
              <thead>
                <tr>
                  <th>عنوان</th>

                  <th>حذف</th>
                </tr>
              </thead>
              <tbody>
              {% for category in object_list %}
                <tr>
                  <td><a href="{% url 'accounts:category_update' category.id %}">{{category.title}}</a></td>
                  <td><a href="{% url 'accounts:category_delete' category.id %}"
                         class="badge text-danger">کلیک</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        {% else %}
        <h3 style="color:blue;">محتوایی وجود ندارد!</h3>
        {% endif %}
      </div>
    </div>
{% endblock %}